.header {
  width: 1100px;
  display: flex;
  z-index: 999 !important;
  align-items: center;
  margin: 0 auto;

  :global {
    .logo {
      width: 136px;
      height: 39px;
      line-height: 39px;
      background-color: @primary-color;
      background-image: url('../../assets/images/logo.png');
      background-size: 100% 100%;
    }

    .header-lists {
      position: relative;
      display: flex;
      width: 700px;
      margin: 0 40px;
      color: #333;
      height: 68px;
      line-height: 68px;
      font-size: 16px;
      box-shadow: 2px #f6f6f6;
    }

    ul {
      margin: 0;
      list-style: none;
      display: inline;

      li {
        display: inline-block;
        margin: 0;
        padding: 0 24px;

        &:hover {
          border-bottom: 3px solid @primary-color;
        }
      }
      .activeBanner {
        background-color: @primary-color;
        a{
          color: #fff;
        };
        &:hover {
          border: none;
        }
      }
    }

    
    .login {
      color: @primary-color;
      padding-right: 24px;
      flex: 1;
      text-align: right;

      .log {
        font-size: 14px;
        color: @primary-color;
      }
    }
  }
}