body{
  text-align: center;
  margin: 0 auto;
}
.gbWrapper{
  margin: 0 auto;
  box-sizing: border-box;
  font-family: Georgia, sans-serif;
  text-align: center;
  :global{
    .main{
      width: 100%;
      margin: 0 auto;
    }
  }
  
}